

html {
    font-family:'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
@font-face {
    font-family: "Montserrat" ;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}
 
 @font-face{
    font-family: "Creepster";
    src: url("/fonts/Creepster-Regular.ttf");
    }

    .wrapper {
        background-color: rgb(240, 215, 181);
        text-align: center;
    }


nav { 
    margin-left: 10rem;
    margin-top: -6rem;
    
}

h2 {
    font-family: "Creepster";
}




section >* {
    color: blue;
    margin-block: 5rem ;
}

